@font-face {
  font-family: 'Raleway';
  src: url("/fonts/Raleway-Regular.ttf"); }
body {
  font-family: Raleway;
  text-align: center;
  margin: 0; }

div#topbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: rgba(40, 40, 40, 0.8); }
  div#topbar ul#topnav {
    list-style: none;
    text-align: right;
    padding: 0 10px 0 0;
    margin: 0; }
    div#topbar ul#topnav li {
      display: inline-block;
      padding: 14px 12px; }
      div#topbar ul#topnav li a {
        color: #FFF;
        text-decoration: none;
        text-transform: lowercase; }
      div#topbar ul#topnav li a:hover {
        color: orange; }

div#header {
  width: 100%;
  height: 400px;
  background: url("../img/header.png") center -100px;
  position: fixed;
  top: 0;
  left: 0;
  height: 400px;
  z-index: 20px; }
  div#header a {
    display: block;
    margin: 0 auto;
    width: 820px;
    height: inherit;
    text-decoration: none;
    color: #FFF;
    text-align: left;
    position: relative; }

h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 3.5em;
  margin: 0;
  z-index: 10; }

h1:hover {
  text-shadow: 2px 2px rgba(250, 180, 0, 0.5); }

div#main-container {
  width: 100%;
  background-color: #FFF;
  position: absolute;
  top: 400px;
  left: 0;
  z-index: -1; }
  div#main-container div#main {
    margin: 0 auto;
    padding: 0 10px;
    width: 800px;
    text-align: left;
    border-left: 2px solid #e6dcdc;
    border-right: 2px solid #e6dcdc; }
    div#main-container div#main h3 {
      font-size: 1.6em;
      color: orange;
      margin: 5px 0 10px; }
    div#main-container div#main div#content {
      float: left;
      width: 600px; }
      div#main-container div#main div#content div.post {
        padding: 10px; }
        div#main-container div#main div#content div.post a.read-more {
          font-size: 0.9em;
          text-decoration: none;
          color: #999;
          text-transform: lowercase;
          padding: 5px;
          margin-left: -5px; }
        div#main-container div#main div#content div.post a.read-more:hover {
          background-color: rgba(250, 180, 0, 0.5); }
      div#main-container div#main div#content div.post-info {
        text-transform: lowercase;
        font-size: 0.9em; }
    div#main-container div#main div#content-full {
      width: 100%; }
      div#main-container div#main div#content-full textarea.form-textarea {
        width: 794px;
        overflow: auto;
        resize: vertical;
        border: 1.5px solid #000; }
      div#main-container div#main div#content-full textarea.title-textarea {
        height: 20px; }
      div#main-container div#main div#content-full textarea.text-textarea {
        height: 200px; }
    div#main-container div#main div#sidebar {
      float: left;
      width: 200px; }

.action-button {
  color: orange;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  display: block;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  font-family: Raleway;
  font-size: 1em; }

.action-button:hover {
  background-color: rgba(250, 180, 0, 0.5); }
  
div.status {
    text-transform: lowercase;
    font-size: 0.9em;
    margin: 10px 0;
    color: #999; }

div.clear {
  clear: both; }

hr {
  border: 0.5px solid #b4aaaa; }

/*# sourceMappingURL=style.css.map */
