@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.ttf"); }
body {
  font-family: Raleway;
  text-align: center;
  margin: 0; }

div#topbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background-color: rgba(40, 40, 40, 0.8); }
  div#topbar input#search {
    float: left;
    margin: 12px;
    height: 26px;
    width: 200px;
    border: 2px #000 solid;
    padding: 2px 24px 2px 5px;
    box-sizing: border-box;
    outline: none;
    background-image: url("../images/search.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right 5px center; }
  div#topbar ul#topnav {
    list-style: none;
    text-align: right;
    padding: 0 10px 0 0;
    margin: 0;
    float: right; }
    div#topbar ul#topnav li {
      display: inline-block;
      padding: 14px 12px; }
      div#topbar ul#topnav li a, div#topbar ul#topnav li button {
        color: #FFF;
        text-decoration: none;
        text-transform: lowercase;
        font-size: 1em; }
      div#topbar ul#topnav li button {
        background: none;
        border: none;
        padding: 0;
        margin: 0; }
      div#topbar ul#topnav li a:hover, div#topbar ul#topnav li button:hover {
        color: orange; }
    div#topbar ul#topnav li.active a, div#topbar ul#topnav li.active button {
      color: orange; }

div.loginBox {
  z-index: 30;
  position: fixed;
  top: 70px;
  right: 20px;
  width: 250px;
  background-color: rgba(40, 40, 40, 0.8);
  box-sizing: border-box;
  padding: 10px;
  color: #FFF;
  text-align: left;
  display: none; }
  div.loginBox div.form-text {
    text-transform: lowercase;
    margin-bottom: 5px; }
  div.loginBox input {
    display: block;
    width: 230px;
    border: 2px #000 solid;
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 20px;
    padding: 3px 5px;
    outline: none; }
  div.loginBox .loginButtons {
    text-align: right;
    width: 230px; }
  div.loginBox button {
    display: inline;
    background: none;
    font-size: 1em;
    border: none;
    text-transform: lowercase; }
    div.loginBox button.submit-user {
      color: orange; }
      div.loginBox button.submit-user:hover {
        color: #FFF; }
    div.loginBox button.cancel-user {
      color: #999; }
      div.loginBox button.cancel-user:hover {
        color: #FFF; }

div#errorMessage {
  z-index: 30;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 250px;
  background-color: rgba(150, 0, 0, 0.7);
  box-sizing: border-box;
  padding: 10px;
  color: #FFF;
  font-size: 1em;
  display: none; }

div#header {
  width: 100%;
  height: 400px;
  background: url("../images/header.png") center -100px;
  position: fixed;
  top: 0;
  left: 0;
  height: 400px;
  z-index: 20px; }
  div#header a {
    display: block;
    margin: 0 auto;
    width: 820px;
    height: inherit;
    text-decoration: none;
    color: #FFF;
    text-align: left;
    position: relative; }

h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 3.5em;
  margin: 0;
  z-index: 10; }

h1:hover {
  text-shadow: 2px 2px rgba(250, 180, 0, 0.5); }

div#main-container {
  width: 100%;
  background-color: #FFF;
  position: absolute;
  top: 400px;
  left: 0;
  z-index: -1; }
  div#main-container div#main {
    margin: 0 auto;
    padding: 0 10px;
    width: 800px;
    text-align: left;
    border-left: 2px solid #e6dcdc;
    border-right: 2px solid #e6dcdc; }
    div#main-container div#main h3 {
      font-size: 1.6em;
      color: orange;
      margin: 5px 0 10px; }
    div#main-container div#main div#content {
      float: left;
      width: 600px; }
    div#main-container div#main div#content-full {
      width: 100%; }
      div#main-container div#main div#content-full textarea.form-textarea {
        width: 794px;
        overflow: auto;
        resize: vertical;
        border: 1.5px solid #000; }
      div#main-container div#main div#content-full textarea.title-textarea {
        height: 20px; }
      div#main-container div#main div#content-full textarea.text-textarea {
        height: 200px; }
    div#main-container div#main div.post {
      padding: 10px; }
      div#main-container div#main div.post a.read-more {
        font-size: 0.9em;
        text-decoration: none;
        color: #999;
        text-transform: lowercase;
        padding: 5px;
        margin-left: -5px; }
      div#main-container div#main div.post a.read-more:hover {
        background-color: rgba(250, 180, 0, 0.5); }
      div#main-container div#main div.post div.commentBox {
        background-color: #EEE;
        margin: 25px;
        padding: 10px;
        border-radius: 10px;
        font-size: 0.8em; }
        div#main-container div#main div.post div.commentBox span.comment-details {
          color: #999; }
        div#main-container div#main div.post div.commentBox span.comment-author {
          font-weight: bold; }
    div#main-container div#main div.post-info {
      text-transform: lowercase;
      font-size: 0.9em;
      color: #999; }
    div#main-container div#main div#comments div#commentForm textarea, div#main-container div#main div#comments div#commentForm input {
      font-size: 0.9em;
      border: 1.5px solid #000;
      padding: 5px; }
    div#main-container div#main div#comments div#commentForm textarea {
      width: 744px;
      margin: 25px 25px 5px;
      overflow: auto;
      resize: vertical;
      height: 50px; }
    div#main-container div#main div#comments div#commentForm input {
      margin-left: 25px;
      width: 594px; }
    div#main-container div#main div#comments div#commentForm button {
      border: none;
      background: none;
      color: orange;
      width: 145px;
      margin-left: 5px;
      font-size: 0.9em;
      margin-bottom: 20px; }
    div#main-container div#main div#comments div#commentForm button:hover {
      color: #999; }
    div#main-container div#main div#comments div.comment {
      margin: 25px 50px 0;
      font-size: 0.9em; }
      div#main-container div#main div#comments div.comment span.comment-author {
        font-weight: bold; }
      div#main-container div#main div#comments div.comment p {
        margin: 15px 5px 5px 25px;
        word-wrap: break-word; }
    div#main-container div#main div#sidebar {
      float: left;
      width: 200px; }

.action-button {
  color: orange;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  display: block;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  font-family: Raleway;
  font-size: 1em; }

div.status {
  text-transform: lowercase;
  font-size: 0.9em;
  margin: 10px 0;
  color: #999; }

.action-button:hover {
  background-color: rgba(250, 180, 0, 0.5); }

#loadMore {
  display: block;
  text-align: center;
  color: orange;
  margin: 20px;
  font-size: 0.9em; }

#loadMore::after {
  content: "\f078";
  display: block;
  margin-bottom: 5px;
  margin-top: 0;
  transition: 0.25s;
  font-family: FontAwesome; }

#loadMore:hover {
  color: #999; }

#loadMore:hover::after {
  color: #999;
  margin-top: 5px;
  margin-bottom: 0; }

div.clear {
  clear: both; }

hr {
  border: 0.5px solid #b4aaaa; }

textarea, input, button {
  font-family: Raleway; }

/* About Page */
div.about-pic, div.about-desc {
  float: left;
  margin: 30px 0; }

div.about-pic {
  width: 200px; }

div.about-desc {
  width: calc(100% - 200px);
  text-align: justify; }

/*# sourceMappingURL=style.css.map */
